# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env*

# Environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Credentials
firebase-key.json
